#home_section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    background-position: center;
    // background-repeat: no-repeat;
    background-size:cover;
    // background-image: url("/public/images/home.jpg");
}