$image_rotation: 5deg;
$rotation_before: 45deg;
$translateX: 10rem;
$translateY: 5rem;
#road_page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;   
}

.introduction_section{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .hearts{
        position: absolute;
        bottom: 0 - 1rem;
        width: 100%;
        display: flex;
        justify-content: space-around;

        span{
            content: '';
            color: $white;
            font-size: 0.5rem;
            opacity: 1;
            animation-name: hearts__animation;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
        }
    }
}

.memories_section{
    position: relative;
    padding: 10rem 0;
    color: $white;
    font-family: $oswald;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    
    
    .memorie{
        position: relative;
        display: flex;
        align-items: center;

        .memorie_text{
            width: 50%;
            animation-name: scrolling__effect;
            animation-timeline: view();
            animation-range-start: 10%;
            animation-range-end: 60%;
            animation-fill-mode: forwards;
            opacity: 0;
            transform: translateX(-$translateX);
            p{
                font-size: 1rem;
            }
        }

        .image_container{
            border: 5px solid $strong-purple;
            transform: translate($translateX, $translateY) rotate($rotation_before) ; 
            animation-name: scrolling__effect;
            animation-timeline: view();
            opacity: 0;  
        }
        .image{
            width: 12rem;
            height: 15rem;
            background-position: center;
            background-size: contain;
            border: 3px solid $light_purple;
        }
        &.type2{
            flex-direction: row-reverse;

            .memorie_text{
                transform: translateX($translateX);
            }

            .image_container{
                transform: translate(-$translateX, -$translateY) rotate(-$rotation_before) ; 
            }
        }

        
    }
}

@keyframes hearts__animation{
    0%{
        opacity: 0.1;
        scale: 1;
    }
    50%{
        filter: blur(0px);
        opacity: 0.5;
    }
    75%{
        filter:blur(0px);
    }
    80%{
        filter: blur(1px);
    }
    100%{
        transform: translateY(-5rem);
        scale: 10;
        filter: blur(10px);
        opacity: 1;
    }
}

@keyframes scrolling__effect{
    to{
        opacity: 1;
        transform: rotate(0) translate(0);
    }
}
