$image_rotation: 5deg;
$rotation_before: 45deg;
$translateX: 10rem;
$translateY: 5rem;
#road_page{
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;   
    
}

.introduction_section{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: $white;

    .introduction_message_container{
        position: absolute;
        top: 10%;
        transition: 2s linear;
        h4{
            font-size: 2rem;
            user-select: none;
        }

        &.disapear{
            opacity: 0;
            h4{
                filter: blur(10px);
            }
        }
    }

    .hearts{
        position: absolute;
        bottom: 0 - 1rem;
        width: 100%;
        display: flex;
        justify-content: space-around;

        span{
            content: '';
            color: $white;
            font-size: 0.5rem;
            opacity: 1;
            animation-name: hearts__animation;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
        }
    }
}

.memories_section{
    position: relative;
    padding: 10rem 0;
    color: $white;
    font-family: $oswald;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    
    
    .memorie{
        position: relative;
        display: flex;
        align-items: center;

        .memorie_text{
            width: 50%;
            animation-name: scrolling__effect;
            animation-timeline: view();
            animation-range-start: 0%;
            animation-range-end: 30%;
            animation-fill-mode: forwards;
            opacity: 0;
            transform: translateX(-$translateX);
            p{
                font-size: 1rem;
            }
        }

        .image_container{
            border: 5px solid $strong-purple;
            transform: translate($translateX, $translateY) rotate($rotation_before) ; 
            animation-name: scrolling__effect;
            animation-timeline: view();
            opacity: 0;  
        }
        .image{
            width: 12rem;
            height: 15rem;
            background-position: center;
            background-size: contain;
            border: 3px solid $light_purple;
        }
        &.type2{
            flex-direction: row-reverse;

            .memorie_text{
                transform: translateX($translateX);
            }

            .image_container{
                transform: translate(-$translateX, -$translateY) rotate(-$rotation_before) ; 
            }
        }

        
    }
}

@keyframes hearts__animation{
    0%{
        opacity: 0.1;
        scale: 1;
    }
    50%{
        filter: blur(0px);
        opacity: 0.5;
    }
    75%{
        filter:blur(0px);
    }
    80%{
        filter: blur(1px);
    }
    100%{
        transform: translateY(-5rem);
        scale: 10;
        filter: blur(10px);
        opacity: 1;
    }
}

.final_section{
    position: relative;
    height: 100vh;
    width: 100%;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;

    .final_text{
        margin: 4rem 1.5rem;
        h4{
            font-size: 1.7rem;
            font-family: $oswald;
        }
        animation-name: text_disapear;
        animation-timeline: view();
        animation-fill-mode: forwards;
        animation-range-start: 40%;
        animation-range-end: 60%;
        animation-delay: 3s;
    }
    .final_image{
        width: 100%;
        height: 10rem;
        background-position: center;
        background-size: cover;
        border: 3px solid #fff9;
        margin: 0.5rem 0;
        border-radius: 10%;
        animation-name: img_effect;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}


@keyframes scrolling__effect{
    to{
        opacity: 1;
        transform: rotate(0) translate(0);
    }
}

@keyframes img_effect {
    0%{
        opacity: 1;
    }

    50%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    95%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
