@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Oswald:wght@200..700&family=Protest+Strike&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 20px;
}

#card_section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #CBC3E3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#card_section .card_cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 13rem;
  background-color: #a87fa9;
}
#card_section .card_cover::before {
  content: "";
  position: absolute;
  background-color: #a87fa9;
  filter: brightness(0.85);
  width: 11.7rem;
  height: 11.7rem;
  transform-origin: center center;
  transform: rotate(45deg) translate(-36%, -36%);
  border-radius: 15%;
}
#card_section .card_cover .card {
  position: relative;
  background-color: #fff;
  width: 90%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}
#card_section .card_cover .card::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 87%;
  border: 2px dashed black;
}
#card_section .card_cover .card .card_text {
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Oswald", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#card_section .card_cover .card .card_text span {
  content: "";
  color: purple;
}
#card_section .card_cover .card_front {
  position: absolute;
  bottom: 0;
  left: 0;
  border-left: 7.5rem solid #a87fa9;
  border-bottom: 6.5rem solid transparent;
  border-top: 6.5rem solid transparent;
  filter: brightness(0.95);
}
#card_section .card_cover .card_front::before {
  content: "";
  position: absolute;
  bottom: -6.5rem;
  right: -7.5rem;
  border-right: 15rem solid #a87fa9;
  filter: brightness(1.1);
  border-top: 13rem solid transparent;
}
#card_section .next {
  position: absolute;
  top: 85%;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#card_section .next a {
  list-style: none;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
}
#card_section .next a span {
  content: "";
  color: #CBC3E3;
}
#card_section .next a:focus {
  scale: 0.9;
}

@keyframes start__animation {
  to {
    scale: 1 1;
  }
}
#proposal_section {
  position: relative;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#proposal_section .proposal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem;
  gap: 3rem;
}
#proposal_section .proposal .cuestion {
  color: #fff;
  font-family: "Protest Strike", sans-serif;
}
#proposal_section .proposal .cuestion h3 {
  font-size: 2.4rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#proposal_section .proposal .answer_buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1.5rem;
}
#proposal_section .proposal .answer_buttons button {
  width: 5rem;
}
#proposal_section .proposal_card {
  position: absolute;
  width: 90%;
  height: 18rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(130%, 20rem) rotate(-120deg);
  transition: 1.5s;
}
#proposal_section .proposal_card .card_content {
  border: 2px dashed black;
  width: 90%;
  height: 90%;
  box-sizing: border-box;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
#proposal_section .proposal_card .card_content p {
  margin: 0;
}
#proposal_section .proposal_card.active {
  transform: translate(0, 0) rotate(-15deg);
}